<a href="https://colab.research.google.com/github/gouravkumargd79/Data_structure/blob/main/Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q1. Write a code to create a string with your name and print it.

name = 'Gourav Kumar'
print(name)

Gourav Kumar

In [ ]:
# Q2. Write a code to find the length of the string "Hello World".

length = len('Hello World')
print(length)

11

In [ ]:
# Q3. Write a code to slice the first 3 characters from the string "Python Programming".

slcChar = 'Python Programming'
print(slcChar[0:3])

Pyt

In [ ]:
# Q4.  Write a code to convert the string "hello" to uppercase.

upp = 'hello'
print(upp.upper())

HELLO

In [ ]:
# Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

str = 'I like apple'
print(str.replace('apple', 'orange'))

I like orange

In [ ]:
# Q6. Write a code to create a list with numbers 1 to 5 and print it.

list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
# Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
# Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
# Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [ ]:
# Q10. Write a code to reverse the list [10, 20, 30, 40, 50].
list =  [10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [ ]:
# Q11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

tu = (10,20,30)
print(tu)

(10, 20, 30)

In [ ]:
# Q12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

tu = ('apple', 'banana', 'cherry')
print(tu[0])

apple

In [ ]:
# Q13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

tu = (1, 2, 3, 2, 4, 2)
print(tu.count(2))

3

In [ ]:
# Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tu = ('dog', 'cat', 'rabbit')
print(tu.index('cat'))

1

In [ ]:
# Q15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

tu = ('apple', 'orange', 'banana')
print('banana' in tu)

True

In [ ]:
# Q16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

se = {1,2,3,4,5}
print(se)

{1, 2, 3, 4, 5}

In [ ]:
# Q17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

se = {1,2,3,4}
se.add(6)
print(se)

{1, 2, 3, 4, 6}

In [ ]:
# Q18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

 # same as Q11.

(10, 20, 30)

In [ ]:
# 19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

# same as Q12.

apple

In [ ]:
# 20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

# same as Q13.

In [ ]:
# 21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

# same as Q14.

In [ ]:
# 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

# same as Q15.

In [ ]:
# 23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

# same as Q16.

In [ ]:
# 20. Write a code to add the element 6 to the set {1, 2, 3, 4}.

# same as Q17.